

body {
    margin:0;
    background-color: #333;
    background-color: #130726;
}

html {
    margin-top:0;
}

p {
    color: red;
}

nav ul {
    margin:0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(108, 108, 108);
}
  
nav li {
    float: left;    
} 

li a {
    transition:background-color cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(66, 66, 66);
}

h1 {
    margin-left:20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(195, 154, 234);
    font-size: 70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(195, 154, 234);
    font-size: 40px;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(222, 206, 237);
    font-size: 30px;
    text-align: center;
}

.rqst {
    margin-left:20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(195, 154, 234);
}

.subheading {
    color:beige;
    font-style: italic;
    font-weight: 100;
    margin-top:-40px;
}

.subheading {
    margin-left:20px;
}

#container span { 
    display: inline;
    overflow: hidden; 
    white-space: nowrap;
}

.timer ul {
    margin:0;
    list-style-type: none;
    background-color: rgb(169, 169, 169);
    padding:7px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.timer {
    display: flex;
    justify-content: center;
    margin-bottom:10px;

}


.col-4 {
    display:inline-block;
    margin:10px;
    margin-left:15px;
    margin-right:15px;
    font-family: 'Roboto', sans-serif;
    color:rgb(47, 19, 85);
}

@media (min-width:320px)  {  
    .col-4 {
        font-size: 0.76em;
    }
    .timer ul {
        width:20em;

    }
    body {
        background-repeat: repeat;
        background-size:400px;
    }
  
}

@media (min-width:641px)  { 
    .col-4 {
        font-size: 1.23em;
    }
    .timer ul {
        width:40em;

    }
    body { 
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-bottom:1000px;
        background-size:cover;
    }
}

hr {
    border-width:0;
}

.emailEntry {
    background-color: rgb(246, 208, 255);
    margin-left:20px;
    border:none;
    transition-duration: 500ms;
    color: rgb(59, 34, 0);
    font-family: 'Poppins', sans-serif;
}

.mainButton {
    margin-left:20px;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif; 
    background-color: rgb(255, 169, 249);
    border-color:rgb(255, 169, 249);
    box-shadow: none;
    transition-duration:200ms;
}

.mainButton:hover {
    background-color: rgb(202, 137, 198);
    border-top-color:rgb(210, 139, 205);
    border-left-color:rgb(210, 139, 205);
    box-shadow: none;

}

.errors {
    color:rgb(255, 119, 119);
    margin-left:20px;
}

.emailEntry:focus {
    background-color: #d8a9fa;
    outline: none;
}

.body {
    opacity: 1;
}

.body {
    transition: opacity 1s ease-in-out;
}

.fade-enter {
    opacity: 0;
    transform: translate(0, 25px);
    z-index: 1;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: translate(0, 0);
  
    transition: opacity 350ms ease-out, transform 400ms ease;
  }
  .fade-exit {
    opacity: 1;
    transform: translate(0, 0);
  }
  .fade-exit.fade-exit-active {
    opacity: 0;
    transform: translate(0, 30px);
  
    transition: opacity 350ms ease-out, transform 400ms ease;
  }

.sub {
    display:block;
}
  